<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandora.lms.DAO">

	<select id="checkID" parameterType="String" resultType="Integer">
		SELECT
		COUNT(*)
		FROM stud_info
		WHERE KORN_FLNM=#{id } and
	</select>
	
	<select id="CheckStudent" parameterType="HashMap" resultType="Integer">
		SELECT
		COUNT(*)
		FROM stud_info
		WHERE KORN_FLNM=#{param1 } and USER_BRDT=#{param2 }
	</select>

</mapper>