<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandora.lms.DAO">

	<select id="checkID" parameterType="String" resultType="UserDTO">
		SELECT
		*
		FROM USER_INFO
		WHERE USER_ID=#{user_name }
	</select>
	
	
	<insert id="signup" parameterType="UserDTO">
		INSERT INTO USER_INFO (USER_ID, PSWD, KORN_FLNM, USER_BRDT, EML_ADDR, TELNO, USER_GROUP_CD)
    VALUES (#{USER_ID}, #{PSWD}, #{KORN_FLNM}, #{USER_BRDT}, #{EML_ADDR} , #{TELNO} , #{USER_GROUP_CD})
	</insert>
</mapper>