<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="youtube">

    <select id="lecture" resultType="HashMap">
        SELECT UV.SBJCT_NO, UV.SBJCT_NM, UV.KORN_FLNM, UV.CRCLM_NM
            FROM USER_APPL_VIEW as UV
                WHERE UV.APPL_NO = #{appl_no }
        ORDER BY SBJCT_NO ASC
    </select>

    <select id="lectList" parameterType="HashMap" resultType="HashMap">
        SELECT
            es.SBJCT_NM as 'SBJCT_NM',
            IFNULL(om.APPL_NO, lmm.APPL_NO) as 'APPL_NO',
            lti.LECT_YMD AS 'LECT_YMD',
            lti.SBJCT_MTHD_CD AS 'SBJCT_MTHD_CD',
            IFNULL(oli.ON_LECT_NM, 'ZOOM 수업') AS 'ON_LECT_NM',
            IFNULL(oli.ON_LECT_SN, lmi.MEET_ID) AS 'ON_LECT_SN',
            IFNULL(oli.ON_LECT_URL, lmi.JOIN_URL) AS 'LECT_URL',
            IFNULL(om.LECT_PRGRS_RT, 0) AS 'LECT_PRGRS_RT',
            IFNULL(lmm.ATTEND_STATUS, '결석') AS 'ATTENDANCE',
            fi.FILE_SN as 'FILE_SN',
            GROUP_CONCAT(fi.FILE_SN_SEQ ORDER BY fi.FILE_SN_SEQ SEPARATOR ',') AS 'FILE_SN_SEQ',
            GROUP_CONCAT(fi.PHYS_FILE_NM  ORDER BY fi.PHYS_FILE_NM  SEPARATOR ',') AS 'PHYS_FILE_NM',
            GROUP_CONCAT(fi.FILE_EXTN_NM  ORDER BY fi.FILE_EXTN_NM  SEPARATOR ',') AS 'FILE_EXTN_NM',
            GROUP_CONCAT(fi.FILE_PATH_NM  ORDER BY fi.FILE_PATH_NM  SEPARATOR ',') AS 'FILE_PATH_NM',
            GROUP_CONCAT(fi.FILE_SZ ORDER BY fi.FILE_SZ  SEPARATOR ',') AS 'FILE_SZ'
        FROM LECT_TM_INFO lti
            LEFT JOIN ON_LECT_INFO oli ON lti.LECT_YMD = oli.LECT_YMD
            LEFT JOIN LECT_MEET_INFO lmi ON lti.LECT_YMD = lmi.LECT_YMD
            LEFT JOIN ON_LECT_MAG om ON lti.SBJCT_NO = om.SBJCT_NO AND lti.LECT_YMD = om.LECT_YMD AND om.APPL_NO = #{appl_no}
            LEFT JOIN LECT_MEET_MAG lmm ON lti.LECT_YMD = lmm.LECT_YMD AND lmm.APPL_NO = #{appl_no}
            LEFT JOIN ESTBL_SBJCT es ON es.SBJCT_NO = #{sbjct_no}
            LEFT JOIN FILE_INFO fi ON fi.FILE_SN = oli.LECT_FILE_SN
        WHERE
            lti.SBJCT_NO = #{sbjct_no}
        GROUP BY
            lti.LECT_YMD
        ORDER BY lti.LECT_YMD ASC
    </select>

    <select id="lectDetail" parameterType="HashMap" resultType="HashMap">
        SELECT
            olm.APPL_NO,
            oli.ON_LECT_SN,
            oli.ON_LECT_URL,
            olm.LAST_PLAY_TM,
            olm.LECT_MAX_TM,
            olm.SBJCT_NO,
            olm.LECT_PRGRS_RT
        FROM ON_LECT_MAG olm
            JOIN ON_LECT_INFO oli ON olm.ON_LECT_SN = oli.ON_LECT_SN AND olm.APPL_NO = #{appl_no }
        WHERE
            oli.ON_LECT_SN = #{on_lect_sn }
    </select>

    <select id="getPlayTime" parameterType="HashMap" resultType="Integer">
        SELECT
            LAST_PLAY_TM
        FROM ON_LECT_MAG
        WHERE
            ON_LECT_SN = #{on_lect_sn }
        AND
            APPL_NO = #{appl_no }
    </select>

    <update id="playTimeSave" parameterType="HashMap">
        UPDATE ON_LECT_MAG
        SET
            LAST_PLAY_TM = #{curr_time }
        WHERE
            ON_LECT_SN = #{on_lect_sn }
        AND
            APPL_NO = #{appl_no }
    </update>

    <select id="getLectInfo" parameterType="HashMap" resultType="HashMap">
        SELECT
            olm.APPL_NO as 'appl_no',
            lti.CRCLM_CD as 'crclm_cd',
            lti.CRCLM_CYCL as 'crclm_cycl',
            lti.LECT_YMD as 'lect_ymd',
            lti.SBJCT_NO as 'sbjct_no',
            lti.SBJCT_MTHD_CD as 'sbjct_mthd_cd'
        FROM ON_LECT_MAG olm
            LEFT JOIN LECT_TM_INFO lti ON olm.LECT_YMD = lti.LECT_YMD
        WHERE
            olm.APPL_NO = #{appl_no }
        AND
            olm.SBJCT_NO = #{sbjct_no }
        AND
            olm.ON_LECT_SN = #{on_lect_sn }
        AND
            olm.LECT_PRGRS_RT >= 90;
    </select>

    <insert id="applATNDInsert" parameterType="HashMap">
        INSERT INTO APPL_ATND
            SET
                APPL_NO = #{appl_no },
                SBJCT_NO = #{sbjct_no },
                LECT_YMD = #{lect_ymd },
                CRCLM_CYCL = #{crclm_cycl },
                CRCLM_CD = #{crclm_cd },
                SBJCT_MTHD_CD = #{sbjct_mthd_cd },
                ATND_CD = 1
    </insert>

</mapper>