<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="youtube">

    <select id="getPlayTime" parameterType="HashMap" resultType="Integer">
        SELECT play_time
            FROM lecture
                WHERE
                    video_id = #{video_id}
                AND
                    student_no = #{student_no}
    </select>

    <update id="playTimeSave" parameterType="HashMap">
        UPDATE lecture
            SET
                play_time = #{curr_time}
        WHERE
            video_id = #{video_id}
        AND
            student_no = #{student_no}
    </update>

</mapper>